* {
	border: 0px;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.product-dropdown-container {
	padding: 15px;
}

.product-dropdown-menu {
	width: 350px;
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 15px;
}

.product-search-box {
	width: 100%;
	padding: 0px;
	border: 0px solid;
	position: relative;
}
.product-search {
	width: 100%;
	flex: 1000;
}
.product-search-box-clear {
	position: absolute;
	right: 5px;
	top: 5px;
	background: none;
	color: rgba(187, 183, 183, 0.828);
	width: 20px;
	height: 20px;
}
.product-search-box-clear:focus,
.product-search-box-clear:hover {
	color: red;
	border: none;
}
.product-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 5px 5px;
}
.product-item * {
	margin: 0px 5px;
}
.product-name {
	flex: 2;
}

.product-name input[type='checkbox'] {
	border: 2px solid rgb(244, 117, 33);
	border-radius: 9px;
}

.form-check-input {
	outline: 0px solid;
	background: rgb(254, 206, 174);
}

.quantity-control {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.quantity-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 2;
}
.quantity {
	font-weight: bold;
	margin: 0 10px;
}

.product-price {
	flex: 1;
	text-align: right;
}
