.pizza-card {
	border: 1px solid black;
	border-radius: 15px;
	min-height: 100px;
	padding: 15px;
}
.pizza-card form {
	display: flex;
	flex-direction: column;
	gap: 25px;
	height: 100%;
}
.pizza-card form input {
	background: none;
	border: 0px;
	padding: 15px;
}

.pizza-card_header {
	display: flex;
	position: relative;
	width: 100%;
	/* height: 40px; */
}

.pizza-card_header_name {
}
.pizza-card_header_comment {
	margin: 0px 10px;
	flex: 1 1 auto;
}
.pizza-card_header_count {
	margin-top: -14px;
}
/* footer */
.pizza-card_footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pizza-card_footer_select-addition {
	height: 40px;
	width: 33%;
}
.pizza-card_footer_count-block {
	display: flex;
	flex-direction: row-reverse;
}

/* .pizza-card_footer_count-block_increment,
.pizza-card_footer_count-block_decrement,
.pizza-card_header_count {
	font-size: 18px;
} */
