.container_pizza-card {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 15px;
	padding-right: 0px;
}

.pizza-card {
	/* width: 90%; */
	flex: 1 0 90%;
	max-width: 90%;
	border: 1px solid black;
	border-radius: 15px;
	min-height: 100px;
	padding: 15px;
}
.btn-del-product {
	flex: 0 1 5%;
	height: 5%;
	height: 40px;
	background: none;
	border: 0px;
	transition: all 0.3s;
}

.btn-del-product:hover,
.btn-del-product:focus {
	color: red;
	transform: scale(120%);
}
.pizza-card > form {
	display: flex;
	flex-direction: column;
	gap: 25px;
	height: 100%;
}
.pizza-card form input {
	background: none;
	border: 0px;
	padding: 15px;
}

.pizza-card_header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* height: 40px; */
}
@media (max-width: 900px) {
	.pizza-card_header {
		/* flex-direction: column; */
	}
}
.pizza-card_header_name {
	max-width: 170px;
	max-height: 100px;
}
.pizza-card_footer_container-addition > :nth-child(1){
	margin-bottom: 5px;
}

.pizza-card_footer_comment {
	margin: 0px 10px;
	/* max-width: 150px; */
	flex: 1 1 auto;
}

.pizza-card_header_block-selected-items {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	flex-wrap: wrap;
}
.pizza-card_header_block-selected-items_item {
	margin: 0px 2%;
}
.pizza-card_header_block-selected-items_item::before {
	content: '✔️';
}

.pizza-card_header_block-price {
	display: flex;
}

.pizza-card_header_block-price_price {
	color: red;
}
.pizza-card_header_block-prise_count {
	margin-top: -14px;
}
/* footer */
.pizza-card_footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}


.pizza-card_footer_count-block {
	display: flex;
	flex-direction: row-reverse;
}

/* .pizza-card_footer_count-block_increment,
.pizza-card_footer_count-block_decrement,
.pizza-card_header_count {
	font-size: 18px;
} */
