.pizza-card-container {
	display: flex;
	flex-direction: column;
	/* gap: 10px; */
	width: 100%;
	border-bottom: 1px solid gray;
	margin-bottom: 14px;
}

.pizza-header-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	/* align-items: center; */
	justify-content: space-between;
}

.pizza-header-container-options {
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	gap: 15px;
	margin-left: 5px;
}

.addition {
	flex: 1 1 auto;
	min-width: 250px;
	max-width: 350px;
}

.border-type {
}

.pizza-header-container-label {
	/* width: max-content; */
	/* font-size: 2vw; */
}

.addition-item {
}

.price-container {
	position: relative;
}
.pizza-price {
	width: 100px;
	text-align: right;
	/* padding-left: 15px; */
}
.product-quantity-price {
	position: absolute;
	right: -15px;
	top: -15px;
}
.footer-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.comment {
	flex: 1 1 auto;
	background: none;
	border: 0px;
	height: 40px;
	padding: 5px;
	/* width: auto; */
}

.count-block {
	display: flex;
	/* flex-direction: row-reverse; */
	justify-content: space-around;
	align-items: center;
	flex: 0 0 60px;
}
.count-block > * {
	background: rgba(255, 0, 0, 0);
	border: 0px;
}
.btn-del-product {
}
